:root {
    --bg-color: #0D121C;
    --lighter-bg: #0D1522;
    --light-gold: #9D957C;
    --gold: #9F853B;
    --cyan: #007A74;
    --light-cyan: #27C1CC;
    --red: #C24E4E;
    --green: #48CE8B;
    --text-font: "Space Mono", monospace;
    --heading-font: "Urbanist", sans-serif;
    --break-point-tab: 768px;
    --break-point-pc: 1024px;
    --gold-border-gradient: linear-gradient(
        90deg,
        rgb(from var(--gold) r g b / 0.6) 0%,
        var(--gold) 50%,
        rgb(from var(--gold) r g b / 0.6) 100%
    );

}

h1, h2{
    color: #fff;
    font-family: var(--heading-font);
}
h2, .heading-h3{
    margin:0;
}

.heading-h3 {
    color: #fff;
    font-family: var(--heading-font);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25rem;
}

.text--tiny {
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0.75rem;
    margin:0;
}
.text--small {
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0.875rem;
}
.text--cyan {
    color: var(--cyan);
}
.text--light-cyan {
    color: var(--light-cyan)
}
.text--green {
    color: var(--green)
}
.text--red {
    color: var(--red)
}

p, span{
    font-family: var(--text-font);
    color: var(--light-gold);
}

html {
    background-color: #000;
    background-image: url("/imgs/bg-tile.png");
    background-size: 160px 160px;
    background-repeat: repeat;
}

body {
    background: rgba(0, 0, 0, 0.5);
    min-height: 100vh;
    margin: 0;
}

main {
    max-width: min(95%, 1100px);
    margin: 0 auto;
}

section {
    margin-bottom: 3rem;
}


header {
    background-color: var(--bg-color);
    padding: 1rem;
}
.header__logo {
    width: 60px;
    height: auto;
}
.hero__heading {
    font-family: var(--heading-font);
    font-size: 3rem;
    font-size: 2.8125rem;
    font-weight: 900;
    line-height: 3.125rem;
    letter-spacing: -1px;
}
.hero__description {
    max-width: 400px;
}
.hero__button {
    margin-bottom: .5rem;
}


.button {
    display: block;
    padding: 1rem 2.5rem;
    text-decoration: none;
}
.button__text{
    font-family: var(--text-font);
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
}
.button__text-light {
    color: black;
}
.button__text-dark {
    color: var(--light-gold);
}
.button-dark {
    background-color: var(--bg-color);
    border: 1px solid transparent;
    border-image: var(--gold-border-gradient) 1;
}
.button-light {
    background-color: var(--gold);
}


.i_cards { 
    display: grid;
    width: 100%;
    gap: 1rem;
    grid-template-columns: 1fr;
}

.i_card {
    border: 1px solid transparent;
    border-image: var(--gold-border-gradient) 1;
    background: var(--bg, #0D121C);
    padding: 1rem 1.5rem;
}
.i_card__small {
    color: var(--gold);
    margin: 0;
    margin-bottom: 0.25rem;
}


.met_cards{
    display: grid;
    width: 100%;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
}

.met_card{
    background-color: var(--bg-color);
    border: 1px solid transparent;
    border-image: var(--gold-border-gradient) 1;
    padding: 1rem;
}
.met_card__value{
    font-family: var(--heading-font);
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1.875rem;     
    margin: .5rem 0;
}


.ready_card {
    background-color: var(--bg-color);
    padding: 2rem 1rem;
    text-align: center;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    border: 1px solid transparent;
    border-image: var(--gold-border-gradient) 1;
}
.ready_card__button {
    margin: auto;
    margin-right: 0;
}


footer {
    background-color: var(--bg-color);
    padding: 1.5rem;
}
footer a{
    color: var(--light-gold);
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}

@media (min-width: 768px)
{
.i_cards{
    grid-template-columns: repeat(2, 1fr);
}


.ready_card{
    flex-direction: row;
    justify-content: space-between;
    text-align: start;
}

.hero__button{
    display: inline-block;
}
}

@media (min-width: 1200px)
{
.met_cards{
    grid-template-columns: repeat(3, 1fr);
}
}
